.content {
    background-color: rgb(255, 255, 255);
    padding: 30px 10px 10px 30px;
}

.mb20 {
    margin-bottom: 20px;
}

.d-inline-block {
    display: inline-block;
}

.v-align-middle{
    vertical-align: middle;
}

.list-item {
    padding: 5px;
}

.fs18 {
    font-size: 18px
}

.list-item-status-icon{
    border: 1px solid gray;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    margin-right: 10px;
    position: relative;
}

.ellipses {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-item-status-icon:after {
    top: 2px;
    left: 4px;
    content: "";
    display: none;
    height: 8px;
    width: 4px;
    border-style: solid;
    border-color: grey;
    border-width: 0px 2px 2px 0px;
    position: absolute;
    transform: rotate(45deg);
}

.list-item-status-icon:hover:after {
    display: block;
}

.ml10 {
    margin-left: 10px;
}

.mt2 {
    margin-top: 2px;
}

/* .add-icon {
    background: aqua;
    height: 20px;
    position: relative;
    width: 2px;
}

.add-icon:after {
    content: "";
    background: aqua;
    width: 20px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: -2%;
} */